@model CoreSettings

<footer class="footer">
    <div class="container">
        <span class="text-muted pull-left">&copy; @DateTime.Now.Year
            @Model.Title</span>
        <span class="text-muted pull-right"></span>
    </div>
</footer>
